/node_modules
/2try_to_copy_data_from_oneFileToAnother.js
/3Intro_Of_Another_Modules_Also.js
/file_handling.js
/file1.txt
/file2.txt
/Java Script With Node Js.code-workspace
/third_party_module.js
/metp.html